<% layout("/layouts/boilerplate") %>
<body>
  <div class="container mt-5">
    <div class="row">
      <h1 class="col-6">Add New Reciept</h1>
      <a href="/dashboard" class="btn btn-dark col-1">Back</a>
    </div>

    <form action="/dashboard/receipt" method="post">
      <div class="form-floating mb-3">
        <input
          type="number"
          class="form-control"
          id="floatingInput"
          name="amount"
          placeholder="Enter Amount"
          required
        />
        <label for="floatingInput">Amount</label>
      </div>
      <div class="form-floating">
        <input
          type="date"
          class="form-control"
          id="floatingPassword"
          name="date"
          required
        />
        <label for="floatingPassword">Date</label>
      </div>
      <br />
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingPassword"
          name="description"
          placeholder="Description"
          required
        />
        <label for="floatingPassword">Description</label>
      </div><br>
      <div class="form-floating mb-3">
        <select class="form-select" id="categoryInput" name="category" required>
          <option value="" disabled selected>Select category</option>
          <option value="lawn">Lawn</option>
          <option value="chiffon">Chiffon</option>
          <option value="cotton">Cotton</option>
          <option value="karandi">Karandi</option>
          <option value="linen">Linen</option>
          <option value="silk">Silk</option>
          <option value="net">Net</option>
          <option value="organza">Organza</option>
          <option value="cambric">Cambric</option>
          <option value="khaddar">Khaddar</option>
          <option value="other">Other</option>
        </select>
        <label for="categoryInput">Category</label>
      </div>
      <br />
      <button class="btn btn-dark">Add Receipt</button>
    </form>
  </div>
</body>
